@model IEnumerable<kalea2.Models.BloqueoRutas>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-content d-flex flex-column flex-md-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="card bg-transparent">
                    <div class="card-body bg-white mb-30">
                        <!-- Invoice Header -->
                        <div class="invoice-header d-flex align-items-sm-center media flex-column flex-sm-row">

                            <div class="invoice-header-right d-flex align-items-center justify-content-end media-body mt-3 mt-sm-0">
                                <!-- Search Form -->
                                <form action="#" class="search-form">
                                    <div class="theme-input-group">
                                        <input id="fooFilter" type="text" class="theme-input-style" placeholder="Search Here">

                                        <button type="submit">
                                            <img src="~/Content/assets/img/svg/search-icon.svg" alt=""
                                                 class="svg">
                                        </button>
                                    </div>
                                </form>
                                <!-- End Search Form -->
                                <!-- Pagination -->
                                <div class="pagination style--two d-flex flex-column align-items-center ml-3">
                                    <ul class="list-inline d-inline-flex align-items-center">
                                        <li>
                                            <a href="#">
                                                <img src="~/Content/assets/img/svg/left-angle.svg" alt="" class="svg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="current">
                                                <img src="~/Content/assets/img/svg/right-angle.svg" alt="" class="svg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Pagination -->
                            </div>
                        </div>
                        <!-- End Invoice Header -->
                        @Html.Partial("Tabla")
                    </div>


                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
</div>

