@model IEnumerable<kalea2.Models.ParametroGeneral>



<div class="panel" id="spy2" style="background-color:#ffffff">
    <div class="panel-body pn">
        <div class="table-responsive">
            <table class="table footable" data-filter="#fooFilter">
                <thead>
                    <tr>
                        <th>Descripción<img src="~/Content/assets/img/svg/table-down-arrow.svg" alt="" class="svg"></th>
                        <th>Valor<img src="~/Content/assets/img/svg/table-down-arrow.svg" alt="" class="svg"></th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                <button type="button" class="details-btn" data-toggle="ajax-modal" data-target="#addEmployee" data-url="@Url.Action($"Edit/{item.Codigo}")">
                                    Editar
                                    <img src="~/Content/assets/img/svg/plus_white.svg" alt="" class="svg">
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {

        var PlaceHolderElement = $('#PlaceHolderHere')
        $('button[data-toggle="ajax-modal"]').click(function (event) {

            var url = $(this).data('url');
            var decodeurl = decodeURIComponent(url);
            $.get(decodeurl).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            })
        })


        PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
            event.preventDefault();
            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');

            var sendData = form.serialize();

            console.log(actionUrl);
            console.log(sendData);

            $.post(actionUrl, sendData).done(function (data) {
                PlaceHolderElement.find('.modal').modal('hide');
                location.reload();
            }).fail(function () {

                alter("error");
            })
        })
    })
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {

        //"use strict";

        //// Init Theme Core
        //Core.init();

        //// Init Demo JS
        //Demo.init();


        // Init FooTable
        $('.footable').footable();


    });
</script>


